<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algorithme de PERT</title>
    <link rel="stylesheet" href="/css/theme.css">
</head>
<body>
    <header>
        <h1 class="titre tritre-page"> SIMPLEX </h1>
    </header>

    <main></main>

    <div id="result">

    </div>

    <footer>
        Groupe 18
    </footer>
    
</body>
</html>